extends layout

block content
  div(class="container")
    form(action=`/classify`, method="get" class="classify")
      input(type="text", name="query", class="queryInput", placeholder="Search for anything", required)
      button(type="submit")
        img(src="/images/search.png" alt="")
