doctype html
html
  head
    title Who am I?
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div(class="navbar") 
      nav
        h2
          a(href="/" class="Home") Home
    block content
